# 61 examples of Red Amber

Last update: August 14, 2022, for RedAmber Version 0.2.0

## 1. Install

Install requirements before you install Red Amber.

- Apache Arrow GLib (>= 8.0.0)

- Apache Parquet GLib (>= 8.0.0)  # if you need IO from/to Parquet resource.

  See [Apache Arrow install document](https://arrow.apache.org/install/).
  
  Minimum installation example for the latest Ubuntu is in the ['Prepare the Apache Arrow' section in ci test](https://github.com/heronshoes/red_amber/blob/master/.github/workflows/test.yml) of Red Amber.

Then add this line to your Gemfile:
```
gem 'red_amber'
```

And then execute:
```
$ bundle install
```

Or install it yourself as:
```
$ gem install red_amber
```

## 2. Require

In [1]:
require 'red_amber' # require 'red-amber' is also OK
include RedAmber
{RedAmber: VERSION, Arrow: Arrow::VERSION}

{:RedAmber=>"0.2.0", :Arrow=>"9.0.0"}

## 3. Initialize

In [2]:
# From a Hash
DataFrame.new(x: [1, 2, 3], y: %w[A B C])

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f154>
        x y
  <uint8> <string>
1       1 A
2       2 B
3       3 C

In [3]:
# From a schema and a row-oriented array
DataFrame.new({ x: :uint8, y: :string }, [[1, 'A'], [2, 'B'], [3, 'C']])

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f168>
        x y
  <uint8> <string>
1       1 A
2       2 B
3       3 C

In [4]:
# From an Arrow::Table
table = Arrow::Table.new(x: [1, 2, 3], y: %w[A B C])
DataFrame.new(table)

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f17c>
        x y
  <uint8> <string>
1       1 A
2       2 B
3       3 C

In [5]:
# From a Rover::DataFrame
require 'rover'
rover = Rover::DataFrame.new(x: [1, 2, 3], y: %w[A B C])
DataFrame.new(rover)

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f2a8>
        x y
  <uint8> <string>
1       1 A
2       2 B
3       3 C

In [6]:
# from a red-datasets
require 'datasets-arrow'
dataset = Datasets::Penguins.new
penguins = DataFrame.new(dataset.to_arrow)

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f2bc>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  5 Adelie   Torgersen           36.7          19.3               193 ...     2007
  : :        :                      :             :                 : ...        :
342 Gentoo   Biscoe              50.4          15.7               222 ...     2009
343 Gentoo   Biscoe              45.2          14.8               212 ...     2009
344 Gentoo   Biscoe              49.9          16.1               213 ...     2009

It should be in the future version;
```ruby
require 'datasets-red-amber'
penguins = Datasets::Penguins.new.to_red_amber
```

In [7]:
dataset = Datasets::Rdatasets.new('datasets', 'mtcars')
mtcars = DataFrame.new(dataset.to_arrow)

#<RedAmber::DataFrame : 32 x 11 Vectors, 0x000000000000f2d0>
        mpg     cyl     disp       hp     drat       wt     qsec      vs      am ...    carb
   <double> <uint8> <double> <uint16> <double> <double> <double> <uint8> <uint8> ... <uint8>
 1     21.0       6    160.0      110      3.9     2.62    16.46       0       1 ...       4
 2     21.0       6    160.0      110      3.9     2.88    17.02       0       1 ...       4
 3     22.8       4    108.0       93     3.85     2.32    18.61       1       1 ...       1
 4     21.4       6    258.0      110     3.08     3.22    19.44       1       0 ...       1
 5     18.7       8    360.0      175     3.15     3.44    17.02       0       0 ...       2
 :        :       :        :        :        :        :        :       :       : ...       :
30     19.7       6    145.0      175     3.62     2.77     15.5       0       1 ...       6
31     15.0       8    301.0      335     3.54     3.57     14.6       0       1 ...       8
32     21.4       4    121.0      109     4.11     2.78     18.6       1       1 ...       2

## 4. Load

`RedAmber::DataFrame` delegates `#load` to `Arrow::Table#load`. We can load from `[.arrow, .arrows, .csv, .csv.gz, .tsv]` files.

In [8]:
DataFrame.load("../test/entity/with_header.csv")

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f2e4>
  name         age
  <string> <int64>
1 Yasuko        68
2 Rui           49
3 Hinata        28

## 5. Load from a URI

In [9]:
uri = URI("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")
DataFrame.load(uri)

#<RedAmber::DataFrame : 344 x 7 Vectors, 0x000000000000f2f8>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ... sex
    <string> <string>        <double>      <double>           <int64> ... <string>
  1 Adelie   Torgersen           39.1          18.7               181 ... MALE
  2 Adelie   Torgersen           39.5          17.4               186 ... FEMALE
  3 Adelie   Torgersen           40.3          18.0               195 ... FEMALE
  4 Adelie   Torgersen          (nil)         (nil)             (nil) ...
  5 Adelie   Torgersen           36.7          19.3               193 ... FEMALE
  : :        :                      :             :                 : ... :
342 Gentoo   Biscoe              50.4          15.7               222 ... MALE
343 Gentoo   Biscoe              45.2          14.8               212 ... FEMALE
344 Gentoo   Biscoe              49.9          16.1               213 ... MALE

## 6. Save

In [10]:
penguins.save("file.arrow")
penguins.save("file.arrows")
penguins.save("file.csv")
penguins.save("file.csv.gz")
penguins.save("file.tsv")
penguins.save("file.feather")

true

## 7. to_s/inspect

`to_s` or `inspect` (it uses to_s inside) shows a preview of the dataframe.

It shows first 5 and last 3 rows if it has many rows. Columns are also omitted if line is exceeded 80 letters.

In [11]:
df = DataFrame.new(
  x: [1, 2, 3, 4, 5],
  y: [1, 2, 3, 0/0.0, nil],
  s: %w[A B C D] << nil,
  b: [true, false, true, false, nil])
p df; nil

#<RedAmber::DataFrame : 5 x 4 Vectors, 0x000000000000f30c>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       1      1.0 A        true
2       2      2.0 B        false
3       3      3.0 C        true
4       4      NaN D        false
5       5    (nil) (nil)    (nil)

In [12]:
p penguins; nil

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f2bc>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  5 Adelie   Torgersen           36.7          19.3               193 ...     2007
  : :        :                      :             :                 : ...        :
342 Gentoo   Biscoe              50.4          15.7               222 ...     2009
343 Gentoo   Biscoe              45.2          14.8               212 ...     2009
344 Gentoo   Biscoe              49.9          16.1               213 ...     2009

## 8. Show table

In [13]:
df.table

#<Arrow::Table:0x7f54b8433320 ptr=0x55d81a4486e0>
	x	         y	s	b
0	1	  1.000000	A	true
1	2	  2.000000	B	false
2	3	  3.000000	C	true
3	4	       NaN	D	false
4	5	    (null)	(null)	(null)

In [14]:
penguins.table

#<Arrow::Table:0x7f54b849dec8 ptr=0x55d81ac6f650>
	species	island	bill_length_mm	bill_depth_mm	flipper_length_mm	body_mass_g	sex	year
  0	Adelie 	Torgersen	     39.100000	    18.700000	              181	       3750	male	2007
  1	Adelie 	Torgersen	     39.500000	    17.400000	              186	       3800	female	2007
  2	Adelie 	Torgersen	     40.300000	    18.000000	              195	       3250	female	2007
  3	Adelie 	Torgersen	        (null)	       (null)	           (null)	     (null)	(null)	2007
  4	Adelie 	Torgersen	     36.700000	    19.300000	              193	       3450	female	2007
  5	Adelie 	Torgersen	     39.300000	    20.600000	              190	       3650	male	2007
  6	Adelie 	Torgersen	     38.900000	    17.800000	              181	       3625	female	2007
  7	Adelie 	Torgersen	     39.200000	    19.600000	              195	       4675	male	2007
  8	Adelie 	Torgersen	     34.100000	    18.100000	              193	       3475	(null)	2007
  9	Adelie 	Torgersen	     42.000000	    20.200000	              190	       4250	(null)	2007
...
334	Gentoo 	Biscoe	     46.200000	    14.100000	              217	       4375	female	2009
335	Gentoo 	Biscoe	     55.100000	    16.000000	              230	       5850	male	2009
336	Gentoo 	Biscoe	     44.500000	    15.700000	              217	       4875	(null)	2009
337	Gentoo 	Biscoe	     48.800000	    16.200000	              222	       6000	male	2009
338	Gentoo 	Biscoe	     47.200000	    13.700000	              214	       4925	female	2009
339	Gentoo 	Biscoe	        (null)	       (null)	           (null)	     (null)	(null)	2009
340	Gentoo 	Biscoe	     46.800000	    14.300000	              215	       4850	female	2009
341	Gentoo 	Biscoe	     50.400000	    15.700000	              222	       5750	male	2009
342	Gentoo 	Biscoe	     45.200000	    14.800000	              212	       5200	female	2009
343	Gentoo 	Biscoe	     49.900000	    16.100000	              213	       5400	male	2009

In [15]:
# This is a Red Arrow's feature
puts df.table.to_s(format: :column)

x: uint8
y: double
s: string
b: bool
----
x:
  [
    [
      1,
      2,
      3,
      4,
      5
    ]
  ]
y:
  [
    [
      1,
      2,
      3,
      nan,
      null
    ]
  ]
s:
  [
    [
      "A",
      "B",
      "C",
      "D",
      null
    ]
  ]
b:
  [
    [
      true,
      false,
      true,
      false,
      null
    ]
  ]

In [16]:
# This is also a Red Arrow's feature
puts df.table.to_s(format: :list)

==================== 0 ====================
x: 1
y:   1.000000
s: A
b: true
==================== 1 ====================
x: 2
y:   2.000000
s: B
b: false
==================== 2 ====================
x: 3
y:   3.000000
s: C
b: true
==================== 3 ====================
x: 4
y:        NaN
s: D
b: false
==================== 4 ====================
x: 5
y: (null)
s: (null)
b: (null)

## 9. TDR

TDR means 'Transposed Dataframe Representation'. It shows columns in lateral just the same shape as initializing by a Hash. TDR has some information which is useful for the exploratory data processing.

- DataFrame shape: n_rows x n_columns
- Data types
- Levels: number of unique elements
- Data preview: same data is aggregated if level is smaller (tally mode)
- Show counts of abnormal element: NaN and nil

In [17]:
# use the same dataframe as #7
df.tdr

RedAmber::DataFrame : 5 x 4 Vectors
Vectors : 2 numeric, 1 string, 1 boolean
# key type    level data_preview
1 :x  uint8       5 [1, 2, 3, 4, 5]
2 :y  double      5 [1.0, 2.0, 3.0, NaN, nil], 1 NaN, 1 nil
3 :s  string      5 ["A", "B", "C", "D", nil], 1 nil
4 :b  boolean     3 {true=>2, false=>2, nil=>1}

In [18]:
penguins.tdr

RedAmber::DataFrame : 344 x 8 Vectors
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 {"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}
2 :island            string     3 {"Torgersen"=>52, "Biscoe"=>168, "Dream"=>124}
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, nil, 36.7, ... ], 2 nils
4 :bill_depth_mm     double    81 [18.7, 17.4, 18.0, nil, 19.3, ... ], 2 nils
5 :flipper_length_mm uint8     56 [181, 186, 195, nil, 193, ... ], 2 nils
6 :body_mass_g       uint16    95 [3750, 3800, 3250, nil, 3450, ... ], 2 nils
7 :sex               string     3 {"male"=>168, "female"=>165, nil=>11}
8 :year              uint16     3 {2007=>110, 2008=>114, 2009=>120}

`#tdr` has some options:

`limit` : to limit a number of variables to show. Default value is `limit=10`.

In [19]:
penguins.tdr(3)

RedAmber::DataFrame : 344 x 8 Vectors
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 {"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}
2 :island            string     3 {"Torgersen"=>52, "Biscoe"=>168, "Dream"=>124}
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, nil, 36.7, ... ], 2 nils
 ... 5 more Vectors ...

`elements` : max number of elements to show in observations. Default value is `elements: 5`.

In [20]:
penguins.tdr(elements: 3) # Show first 3 items in data

RedAmber::DataFrame : 344 x 8 Vectors
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 {"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}
2 :island            string     3 {"Torgersen"=>52, "Biscoe"=>168, "Dream"=>124}
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, ... ], 2 nils
4 :bill_depth_mm     double    81 [18.7, 17.4, 18.0, ... ], 2 nils
5 :flipper_length_mm uint8     56 [181, 186, 195, ... ], 2 nils
6 :body_mass_g       uint16    95 [3750, 3800, 3250, ... ], 2 nils
7 :sex               string     3 {"male"=>168, "female"=>165, nil=>11}
8 :year              uint16     3 {2007=>110, 2008=>114, 2009=>120}

`tally` : max level to use tally mode. Level means size of `tally`ed hash. Default value is `tally: 5`.

In [21]:
penguins.tdr(tally: 0) # Don't use tally mode

RedAmber::DataFrame : 344 x 8 Vectors
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 ["Adelie", "Adelie", "Adelie", "Adelie", "Adelie", ... ]
2 :island            string     3 ["Torgersen", "Torgersen", "Torgersen", "Torgersen", "Torgersen", ... ]
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, nil, 36.7, ... ], 2 nils
4 :bill_depth_mm     double    81 [18.7, 17.4, 18.0, nil, 19.3, ... ], 2 nils
5 :flipper_length_mm uint8     56 [181, 186, 195, nil, 193, ... ], 2 nils
6 :body_mass_g       uint16    95 [3750, 3800, 3250, nil, 3450, ... ], 2 nils
7 :sex               string     3 ["male", "female", "female", nil, "female", ... ], 11 nils
8 :year              uint16     3 [2007, 2007, 2007, 2007, 2007, ... ]

`#tdr_str` returns a String. `#tdr` do the same thing as `puts #tdr_str`

## 10. Size and shape

In [22]:
# same as n_rows, n_obs
df.size

5

In [23]:
# same as n_cols, n_vars
df.n_keys

4

In [24]:
# [df.size, df.n_keys], [df.n_rows, df.n_cols]
df.shape

[5, 4]

## 11. Keys

In [25]:
df.keys

[:x, :y, :s, :b]

In [26]:
penguins.keys

[:species, :island, :bill_length_mm, :bill_depth_mm, :flipper_length_mm, :body_mass_g, :sex, :year]

## 12. Types

In [27]:
df.types

[:uint8, :double, :string, :boolean]

In [28]:
penguins.types

[:string, :string, :double, :double, :uint8, :uint16, :string, :uint16]

## 13. Data type classes

In [29]:
df.type_classes

[Arrow::UInt8DataType, Arrow::DoubleDataType, Arrow::StringDataType, Arrow::BooleanDataType]

In [30]:
penguins.type_classes

[Arrow::StringDataType, Arrow::StringDataType, Arrow::DoubleDataType, Arrow::DoubleDataType, Arrow::UInt8DataType, Arrow::UInt16DataType, Arrow::StringDataType, Arrow::UInt16DataType]

## 14. Indices

In [31]:
df.indexes
# or
df.indices

[0, 1, 2, 3, 4]

## 15. To an Array or a Hash

DataFrame#to_a returns an array of row-oriented data without a header.

In [32]:
df.to_a

[[1, 1.0, "A", true], [2, 2.0, "B", false], [3, 3.0, "C", true], [4, NaN, "D", false], [5, nil, nil, nil]]

If you need a column-oriented array with keys, use `.to_h.to_a`

In [33]:
df.to_h

{:x=>[1, 2, 3, 4, 5], :y=>[1.0, 2.0, 3.0, NaN, nil], :s=>["A", "B", "C", "D", nil], :b=>[true, false, true, false, nil]}

In [34]:
df.to_h.to_a

[[:x, [1, 2, 3, 4, 5]], [:y, [1.0, 2.0, 3.0, NaN, nil]], [:s, ["A", "B", "C", "D", nil]], [:b, [true, false, true, false, nil]]]

## 16. Schema

In [35]:
df.schema

{:x=>:uint8, :y=>:double, :s=>:string, :b=>:boolean}

## 17. Vector

Each variable (column in the table) is represented by a Vector object.

In [36]:
df[:x] # This syntax comes later

#<RedAmber::Vector(:uint8, size=5):0x000000000000f320>
[1, 2, 3, 4, 5]

Or create new Vector by the constructor.

In [37]:
Vector.new(1, 2, 3, 4, 5)

#<RedAmber::Vector(:uint8, size=5):0x000000000000f334>
[1, 2, 3, 4, 5]

In [38]:
Vector.new(1..5)

#<RedAmber::Vector(:uint8, size=5):0x000000000000f348>
[1, 2, 3, 4, 5]

In [39]:
Vector.new([1, 2, 3], [4, 5])

#<RedAmber::Vector(:uint8, size=5):0x000000000000f35c>
[1, 2, 3, 4, 5]

In [40]:
array = Arrow::Array.new([1, 2, 3, 4, 5])
Vector.new(array)

#<RedAmber::Vector(:uint8, size=5):0x000000000000f370>
[1, 2, 3, 4, 5]

- TODO: `Vector[1..5]` as a constructor

## 18. Vectors

Returns an Array of Vectors in a DataFrame.

In [41]:
df.vectors

[#<RedAmber::Vector(:uint8, size=5):0x000000000000f320>
[1, 2, 3, 4, 5]
, #<RedAmber::Vector(:double, size=5):0x000000000000f384>
[1.0, 2.0, 3.0, NaN, nil]
, #<RedAmber::Vector(:string, size=5):0x000000000000f398>
["A", "B", "C", "D", nil]
, #<RedAmber::Vector(:boolean, size=5):0x000000000000f3ac>
[true, false, true, false, nil]
]

## 19. Variables

Returns key and Vector pairs in a Hash.

In [42]:
df.variables

{:x=>#<RedAmber::Vector(:uint8, size=5):0x000000000000f320>
[1, 2, 3, 4, 5]
, :y=>#<RedAmber::Vector(:double, size=5):0x000000000000f384>
[1.0, 2.0, 3.0, NaN, nil]
, :s=>#<RedAmber::Vector(:string, size=5):0x000000000000f398>
["A", "B", "C", "D", nil]
, :b=>#<RedAmber::Vector(:boolean, size=5):0x000000000000f3ac>
[true, false, true, false, nil]
}

## 20. Select columns by #[ ]

`DataFrame#[]` is overloading column operations and row operations.

- For columns (variables)
  - Key in a Symbol: `df[:symbol]`
  - Key in a String: `df["string"]`
  - Keys in an Array: `df[:symbol1, "string", :symbol2]`
  - Keys by indeces: `df[df.keys[0]`, `df[df.keys[1,2]]`, `df[df.keys[1..]]`

In [43]:
# Keys in a Symbol and a String
df[:x, 'y']

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f3c0>
        x        y
  <uint8> <double>
1       1      1.0
2       2      2.0
3       3      3.0
4       4      NaN
5       5    (nil)

In [44]:
# Keys in a Range
df['x'..'y']

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f3d4>
        x        y
  <uint8> <double>
1       1      1.0
2       2      2.0
3       3      3.0
4       4      NaN
5       5    (nil)

In [45]:
# Keys with a index Range, and a symbol
df[df.keys[2..], :x]

#<RedAmber::DataFrame : 5 x 3 Vectors, 0x000000000000f3e8>
  s        b               x
  <string> <boolean> <uint8>
1 A        true            1
2 B        false           2
3 C        true            3
4 D        false           4
5 (nil)    (nil)           5

## 21. Select rows by #[ ]
`DataFrame#[]` is overloading column operations and row operations.

- For rows (observations)
  - Select rows by a Index: `df[index]`
  - Select rows by Indices: `df[indices]` # Array, Arrow::Array, Vectors are acceptable for indices
  - Select rows by Ranges: `df[range]`
  - Select rows by Booleans: `df[booleans]` # Array, Arrow::Array, Vectors are acceptable for booleans

In [46]:
# indices
df[0, 2, 1]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000f3fc>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       1      1.0 A        true
2       3      3.0 C        true
3       2      2.0 B        false

In [47]:
# including a Range
# negative indices are also acceptable
df[1..2, -1]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000f410>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       2      2.0 B        false
2       3      3.0 C        true
3       5    (nil) (nil)    (nil)

In [48]:
# booleans
# length of boolean should be the same as self
df[false, true, true, false, true]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000f424>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       2      2.0 B        false
2       3      3.0 C        true
3       5    (nil) (nil)    (nil)

In [49]:
# Arrow::Array
indices = Arrow::UInt8Array.new([0,2,4])
df[indices]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000f438>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       1      1.0 A        true
2       3      3.0 C        true
3       5    (nil) (nil)    (nil)

In [50]:
# By a Vector as indices
indices = Vector.new(df.indices)
# indices > 1 returns a boolean Vector
df[indices > 1]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000f44c>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       3      3.0 C        true
2       4      NaN D        false
3       5    (nil) (nil)    (nil)

In [51]:
# By a Vector as booleans
booleans = df[:b]

#<RedAmber::Vector(:boolean, size=5):0x000000000000f3ac>
[true, false, true, false, nil]

In [52]:
df[booleans]

#<RedAmber::DataFrame : 2 x 4 Vectors, 0x000000000000f460>
        x        y s        b
  <uint8> <double> <string> <boolean>
1       1      1.0 A        true
2       3      3.0 C        true

## 22. empty?

In [53]:
df.empty?

false

In [54]:
DataFrame.new.empty?

true

In [55]:
DataFrame.new

(empty DataFrame)

## 23. Select columns by pick

`DataFrame#pick` accepts an Array of keys to pick up columns (variables) and creates a new DataFrame. You can change the order of columns at a same time.

In [56]:
df.pick(:s, :y)
# or
df.pick([:s, :y]) # OK too.

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f474>
  s               y
  <string> <double>
1 A             1.0
2 B             2.0
3 C             3.0
4 D             NaN
5 (nil)       (nil)

Or use a boolean Array of lengeh `n_key` to `pick`. This style remains the order of variables.

In [57]:
df.pick(false, true, true, false)
# or
df.pick([false, true, true, false]) # OK

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f488>
         y s
  <double> <string>
1      1.0 A
2      2.0 B
3      3.0 C
4      NaN D
5    (nil) (nil)

`#pick` also accepts a block in the context of self.

Next example is picking up numeric variables.

In [58]:
# reciever is required with the argument style
df.pick(df.vectors.map(&:numeric?))

# with a block
df.pick { vectors.map(&:numeric?) }

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f49c>
        x        y
  <uint8> <double>
1       1      1.0
2       2      2.0
3       3      3.0
4       4      NaN
5       5    (nil)

The name `pick` comes from the action to pick variables(columns) according to the label keys.

## 24. Reject columns by drop

`DataFrame#drop` accepts an Array keys to drop columns (variables) to create a remainer DataFrame.

In [59]:
df.drop(:x, :b)
# df.drop([:x, :b]) #is OK too.

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f4b0>
         y s
  <double> <string>
1      1.0 A
2      2.0 B
3      3.0 C
4      NaN D
5    (nil) (nil)

Or use a boolean Array of lengeh `n_key` to `drop`.

In [60]:
df.drop(true, false, false, true)
# df.drop([true, false, false, true]) # is OK too

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f4c4>
         y s
  <double> <string>
1      1.0 A
2      2.0 B
3      3.0 C
4      NaN D
5    (nil) (nil)

`#drop` also accepts a block in the context of self.

Next example will drop variables which have nil or NaN values.

In [61]:
df.drop { vectors.map { |v| v.is_na.any } }

#<RedAmber::DataFrame : 5 x 1 Vector, 0x000000000000f4d8>
        x
  <uint8>
1       1
2       2
3       3
4       4
5       5

Argument style is also acceptable but it requires the reciever 'df'.

In [62]:
df.drop(df.vectors.map { |v| v.is_na.any })

#<RedAmber::DataFrame : 5 x 1 Vector, 0x000000000000f4ec>
        x
  <uint8>
1       1
2       2
3       3
4       4
5       5

The name `drop` comes from the pair word of `pick`.

## 25. Pick/drop and nil

When `pick` or `drop` is used with booleans, nil in the booleans is treated as false. This behavior is aligned with Ruby's `BasicObject#!`.

In [63]:
booleans = [true, true, false, nil]
booleans_invert = booleans.map(&:!) # => [false, false, true, true] because nil.! is true
df.pick(booleans) == df.drop(booleans_invert)

true

## 26. Vector#invert, #primitive_invert

For the boolean Vector;

In [64]:
vector = Vector.new(booleans)

#<RedAmber::Vector(:boolean, size=4):0x000000000000f500>
[true, true, false, nil]

nil is converted to nil by `Vector#invert`.

In [65]:
vector.invert
# or
!vector

#<RedAmber::Vector(:boolean, size=4):0x000000000000f514>
[false, false, true, nil]

So `df.pick(booleans) != df.drop(booleans.invert)` when booleans have any nils.

On the other hand, `Vector#primitive_invert` follows Ruby's `BasicObject#!`'s behavior. Then pick and drop keep 'MECE' behavior.

In [66]:
vector.primitive_invert

#<RedAmber::Vector(:boolean, size=4):0x000000000000f528>
[false, false, true, true]

In [67]:
df.pick(vector) == df.drop(vector.primitive_invert)

true

## 27. Pick/drop and [ ]

When `pick` or `drop` select a single column (variable), it returns a `DataFrame` with one column (variable).

In [68]:
df.pick(:x) # or
df.drop(:y, :s, :b)

#<RedAmber::DataFrame : 5 x 1 Vector, 0x000000000000f53c>
        x
  <uint8>
1       1
2       2
3       3
4       4
5       5

In contrast, when `[]` selects a single column (variable), it returns a `Vector`.

In [69]:
df[:x]

#<RedAmber::Vector(:uint8, size=5):0x000000000000f320>
[1, 2, 3, 4, 5]

This behavior may be useful to use with DataFrame manipulation verbs (like pick, drop, slice, remove, assign, rename).

In [70]:
df.pick { keys.select { |key| df[key].numeric? } }

#<RedAmber::DataFrame : 5 x 2 Vectors, 0x000000000000f550>
        x        y
  <uint8> <double>
1       1      1.0
2       2      2.0
3       3      3.0
4       4      NaN
5       5    (nil)

## 28. Slice

`slice` selects rows (observations) to create a subset of a DataFrame.

`slice(indeces)` accepts indices as arguments. Indices should be Integers, Floats or Ranges of Integers. Negative index from the tail like Ruby's Array is also acceptable.

In [71]:
# returns 5 rows from the start and 5 rows from the end
penguins.slice(0...5, -5..-1)

#<RedAmber::DataFrame : 10 x 8 Vectors, 0x000000000000f564>
   species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
   <string> <string>        <double>      <double>           <uint8> ... <uint16>
 1 Adelie   Torgersen           39.1          18.7               181 ...     2007
 2 Adelie   Torgersen           39.5          17.4               186 ...     2007
 3 Adelie   Torgersen           40.3          18.0               195 ...     2007
 4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
 5 Adelie   Torgersen           36.7          19.3               193 ...     2007
 : :        :                      :             :                 : ...        :
 8 Gentoo   Biscoe              50.4          15.7               222 ...     2009
 9 Gentoo   Biscoe              45.2          14.8               212 ...     2009
10 Gentoo   Biscoe              49.9          16.1               213 ...     2009

In [72]:
# slice accepts Float index
# 33% of 344 observations in index => 113.52 th data ??
indexed_penguins = penguins.assign_left { [:index, indexes] } # #assign_left and assigner by Array is 0.2.0 feature
indexed_penguins.slice(penguins.size * 0.33)

#<RedAmber::DataFrame : 1 x 9 Vectors, 0x000000000000f578>
     index species  island   bill_length_mm bill_depth_mm flipper_length_mm ...     year
  <uint16> <string> <string>       <double>      <double>           <uint8> ... <uint16>
1      113 Adelie   Biscoe             42.2          19.5               197 ...     2009

Indices in Vectors or Arrow::Arrays are also acceptable.

Another way to select in `slice` is to use booleans.
- Booleans is an Array, Arrow::Array, Vector or their Array.
- Each data type must be boolean.
- Size of booleans must be same as the size of self.

In [73]:
# make booleans to check over 40
booleans = penguins[:bill_length_mm] > 40

#<RedAmber::Vector(:boolean, size=344):0x000000000000f58c>
[false, false, true, nil, false, false, false, false, false, true, false, false, ... ]

In [74]:
penguins.slice(booleans)

#<RedAmber::DataFrame : 242 x 8 Vectors, 0x000000000000f5a0>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           40.3          18.0               195 ...     2007
  2 Adelie   Torgersen           42.0          20.2               190 ...     2007
  3 Adelie   Torgersen           41.1          17.6               182 ...     2007
  4 Adelie   Torgersen           42.5          20.7               197 ...     2007
  5 Adelie   Torgersen           46.0          21.5               194 ...     2007
  : :        :                      :             :                 : ...        :
240 Gentoo   Biscoe              50.4          15.7               222 ...     2009
241 Gentoo   Biscoe              45.2          14.8               212 ...     2009
242 Gentoo   Biscoe              49.9          16.1               213 ...     2009

`slice` accepts a block.
- We can't use both arguments and a block at a same time.
- The block should return indeces in any length or a boolean Array with a same length as `size`.
- Block is called in the context of self. So reciever 'self' can be omitted in the block.

In [75]:
# return a DataFrame with bill_length_mm is in 2*std range around mean
penguins.slice do
  vector = self[:bill_length_mm]
  min = vector.mean - vector.std
  max = vector.mean + vector.std
  vector.to_a.map { |e| (min..max).include? e }
end

#<RedAmber::DataFrame : 204 x 8 Vectors, 0x000000000000f5b4>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen           39.3          20.6               190 ...     2007
  5 Adelie   Torgersen           38.9          17.8               181 ...     2007
  : :        :                      :             :                 : ...        :
202 Gentoo   Biscoe              47.2          13.7               214 ...     2009
203 Gentoo   Biscoe              46.8          14.3               215 ...     2009
204 Gentoo   Biscoe              45.2          14.8               212 ...     2009

## 29. Slice and nil option

`Arrow::Table#slice` uses `#filter` method with a option `Arrow::FilterOptions.null_selection_behavior = :emit_null`. This will propagate nil at the same row.

In [76]:
hash = { a: [1, 2, 3], b: %w[A B C], c: [1.0, 2, 3] }
table = Arrow::Table.new(hash)
table.slice([true, false, nil])

#<Arrow::Table:0x7f54b8439518 ptr=0x55d81a8f6f30>
	     a	b	         c
0	     1	A	  1.000000
1	(null)	(null)	    (null)

Whereas in RedAmber, `DataFrame#slice` with booleans containing nil is treated as false. This behavior comes from `Allow::FilterOptions.null_selection_behavior = :drop`. This is a default value for `Arrow::Table.filter` method.

In [77]:
RedAmber::DataFrame.new(table).slice([true, false, nil]).table

#<Arrow::Table:0x7f54b83fdf40 ptr=0x55d81abf1a70>
	a	b	         c
0	1	A	  1.000000

## 30. Remove

Slice and reject rows (observations) to create a remainer DataFrame.

`#remove(indeces)` accepts indeces as arguments. Indeces should be an Integer or a Range of Integer.

In [78]:
# returns 6th to 339th obs. Remainer of 1st example of #30
penguins.remove(0...5, -5..-1)

#<RedAmber::DataFrame : 334 x 8 Vectors, 0x000000000000f5c8>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.3          20.6               190 ...     2007
  2 Adelie   Torgersen           38.9          17.8               181 ...     2007
  3 Adelie   Torgersen           39.2          19.6               195 ...     2007
  4 Adelie   Torgersen           34.1          18.1               193 ...     2007
  5 Adelie   Torgersen           42.0          20.2               190 ...     2007
  : :        :                      :             :                 : ...        :
332 Gentoo   Biscoe              44.5          15.7               217 ...     2009
333 Gentoo   Biscoe              48.8          16.2               222 ...     2009
334 Gentoo   Biscoe              47.2          13.7               214 ...     2009

`remove(booleans)` accepts booleans as a argument in an Array, a Vector or an Arrow::BooleanArray . Booleans must be same length as `#size`.

In [79]:
# remove all observation contains nil
removed = penguins.remove { vectors.map(&:is_nil).reduce(&:|) }

#<RedAmber::DataFrame : 333 x 8 Vectors, 0x000000000000f5dc>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen           36.7          19.3               193 ...     2007
  5 Adelie   Torgersen           39.3          20.6               190 ...     2007
  : :        :                      :             :                 : ...        :
331 Gentoo   Biscoe              50.4          15.7               222 ...     2009
332 Gentoo   Biscoe              45.2          14.8               212 ...     2009
333 Gentoo   Biscoe              49.9          16.1               213 ...     2009

`remove {block}` is also acceptable. We can't use both arguments and a block at a same time. The block should return indeces or a boolean Array with a same length as size. Block is called in the context of self.

In [80]:
# Remove data in 2*std range around mean
penguins.remove do
  vector = self[:bill_length_mm]
  min = vector.mean - vector.std
  max = vector.mean + vector.std
  vector.to_a.map { |e| (min..max).include? e }
end

#<RedAmber::DataFrame : 140 x 8 Vectors, 0x000000000000f5f0>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  2 Adelie   Torgersen           36.7          19.3               193 ...     2007
  3 Adelie   Torgersen           34.1          18.1               193 ...     2007
  4 Adelie   Torgersen           37.8          17.1               186 ...     2007
  5 Adelie   Torgersen           37.8          17.3               180 ...     2007
  : :        :                      :             :                 : ...        :
138 Gentoo   Biscoe             (nil)         (nil)             (nil) ...     2009
139 Gentoo   Biscoe              50.4          15.7               222 ...     2009
140 Gentoo   Biscoe              49.9          16.1               213 ...     2009

## 31. Remove and nil

When `remove` used with booleans, nil in booleans is treated as false. This behavior is aligned with Ruby's `nil#!`.

In [81]:
df = RedAmber::DataFrame.new(a: [1, 2, nil], b: %w[A B C], c: [1.0, 2, 3])

#<RedAmber::DataFrame : 3 x 3 Vectors, 0x000000000000f604>
        a b               c
  <uint8> <string> <double>
1       1 A             1.0
2       2 B             2.0
3   (nil) C             3.0

In [82]:
booleans = df[:a] < 2

#<RedAmber::Vector(:boolean, size=3):0x000000000000f618>
[true, false, nil]

In [83]:
booleans_invert = booleans.to_a.map(&:!)

[false, true, true]

In [84]:
df.slice(booleans) == df.remove(booleans_invert)

true

Whereas `Vector#invert` returns nil for elements nil. This will bring different result. (See #26)

In [85]:
booleans.invert

#<RedAmber::Vector(:boolean, size=3):0x000000000000f62c>
[false, true, nil]

In [86]:
df.remove(booleans.invert)

#<RedAmber::DataFrame : 2 x 3 Vectors, 0x000000000000f640>
        a b               c
  <uint8> <string> <double>
1       1 A             1.0
2   (nil) C             3.0

We have `#primitive_invert` method in Vector. This method returns the same result as `.to_a.map(&:!)` above.

In [87]:
booleans.primitive_invert

#<RedAmber::Vector(:boolean, size=3):0x000000000000f654>
[false, true, true]

In [88]:
df.remove(booleans.primitive_invert)

#<RedAmber::DataFrame : 1 x 3 Vectors, 0x000000000000f668>
        a b               c
  <uint8> <string> <double>
1       1 A             1.0

In [89]:
df.slice(booleans) == df.remove(booleans.primitive_invert)

true

## 32. Remove nil

Remove any observations containing nil.

In [90]:
penguins.remove_nil

#<RedAmber::DataFrame : 333 x 8 Vectors, 0x000000000000f67c>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen           36.7          19.3               193 ...     2007
  5 Adelie   Torgersen           39.3          20.6               190 ...     2007
  : :        :                      :             :                 : ...        :
331 Gentoo   Biscoe              50.4          15.7               222 ...     2009
332 Gentoo   Biscoe              45.2          14.8               212 ...     2009
333 Gentoo   Biscoe              49.9          16.1               213 ...     2009

The roundabout way for this is to use `#remove`.

In [91]:
penguins.remove { vectors.map(&:is_nil).reduce(&:|) }

#<RedAmber::DataFrame : 333 x 8 Vectors, 0x000000000000f690>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen           36.7          19.3               193 ...     2007
  5 Adelie   Torgersen           39.3          20.6               190 ...     2007
  : :        :                      :             :                 : ...        :
331 Gentoo   Biscoe              50.4          15.7               222 ...     2009
332 Gentoo   Biscoe              45.2          14.8               212 ...     2009
333 Gentoo   Biscoe              49.9          16.1               213 ...     2009

## 33. Rename

Rename keys (column names) to create a updated DataFrame.

`#rename(key_pairs)` accepts key_pairs as arguments. key_pairs should be a Hash of `{existing_key => new_key}` or an Array of Array `[[existing_key, new_key], ...]` .

In [92]:
h = { name: %w[Yasuko Rui Hinata], age: [68, 49, 28] }
comecome = RedAmber::DataFrame.new(h)

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f6a4>
  name         age
  <string> <uint8>
1 Yasuko        68
2 Rui           49
3 Hinata        28

In [93]:
comecome.rename(:age => :age_in_1993)
# comecome.rename(:age, :age_in_1993) # is also OK
# comecome.rename([:age, :age_in_1993]) # is also OK

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f6b8>
  name     age_in_1993
  <string>     <uint8>
1 Yasuko            68
2 Rui               49
3 Hinata            28

`#rename {block}` is also acceptable. We can't use both arguments and a block at a same time. The block should return key_pairs as a Hash of `{existing_key => new_key}` or an Array of Array `[[existing_key, new_key], ...]`. Block is called in the context of self.

Symbol key and String key are distinguished.

## 34. Assign

Assign new or updated columns (variables) and create a updated DataFrame.

- Columns with new keys will append new variables at right (bottom in TDR).
- Columns with exisiting keys will update corresponding vectors.

`#assign(key_pairs)` accepts pairs of key and array_like values as arguments. The pairs should be a Hash of `{key => array_like}` or an Array of Array `[[key, array_like], ... ]`. `array_like` is one of `Vector`, `Array` or `Arrow::Array`.

In [94]:
comecome = RedAmber::DataFrame.new( name: %w[Yasuko Rui Hinata], age: [68, 49, 28] )

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f6cc>
  name         age
  <string> <uint8>
1 Yasuko        68
2 Rui           49
3 Hinata        28

In [95]:
# update :age and add :brother
assigner = { age: [97, 78, 57], brother: ['Santa', nil, 'Momotaro'] }
comecome.assign(assigner)

#<RedAmber::DataFrame : 3 x 3 Vectors, 0x000000000000f6e0>
  name         age brother
  <string> <uint8> <string>
1 Yasuko        97 Santa
2 Rui           78 (nil)
3 Hinata        57 Momotaro

`#assign {block}` is also acceptable. We can't use both arguments and a block at a same time. The block should return pairs of key and array_like values as a Hash of `{key => array_like}` or an Array of Array `[[key, array_like], ... ]`. `array_like` is one of `Vector`, `Array` or `Arrow::Array`. Block is called in the context of self.

In [96]:
df = RedAmber::DataFrame.new(
  index: [0, 1, 2, 3, nil],
  float: [0.0, 1.1,  2.2, Float::NAN, nil],
  string: ['A', 'B', 'C', 'D', nil])

#<RedAmber::DataFrame : 5 x 3 Vectors, 0x000000000000f6f4>
    index    float string
  <uint8> <double> <string>
1       0      0.0 A
2       1      1.1 B
3       2      2.2 C
4       3      NaN D
5   (nil)    (nil) (nil)

In [97]:
# update numeric variables
df.assign do
  vectors.select(&:numeric?).map { |v| [v.key, -v] }
end

#<RedAmber::DataFrame : 5 x 3 Vectors, 0x000000000000f708>
    index    float string
  <uint8> <double> <string>
1       0     -0.0 A
2     255     -1.1 B
3     254     -2.2 C
4     253      NaN D
5   (nil)    (nil) (nil)

In this example, columns :x and :y are updated. Column :x returns complements for #negate method because :x is :uint8 type.

In [98]:
df.types

[:uint8, :double, :string]

## 35. Coerce (Vector)

Vector has coerce method.

In [99]:
vector = RedAmber::Vector.new(1,2,3)

#<RedAmber::Vector(:uint8, size=3):0x000000000000f71c>
[1, 2, 3]

In [100]:
# Vector's `#*` method
vector * -1

#<RedAmber::Vector(:int16, size=3):0x000000000000f730>
[-1, -2, -3]

In [101]:
# coerced calculation
-1 * vector

#<RedAmber::Vector(:int16, size=3):0x000000000000f744>
[-1, -2, -3]

In [102]:
# `@-` operator
-vector

#<RedAmber::Vector(:uint8, size=3):0x000000000000f758>
[255, 254, 253]

## 36. to_ary (Vector)

`Vector#to_ary` will enable implicit conversion to an Array.

In [103]:
Array(Vector.new([3, 4, 5]))

[3, 4, 5]

In [104]:
[1, 2] + Vector.new([3, 4, 5])

[1, 2, 3, 4, 5]

## 37. Fill nil (Vector)

`Vector#fill_nil_forward` or `Vector#fill_nil_backward` will
propagate the last valid observation forward (or backward).
Or preserve nil if all previous values are nil or at the end.

In [105]:
integer = Vector.new([0, 1, nil, 3, nil])
integer.fill_nil_forward

#<RedAmber::Vector(:uint8, size=5):0x000000000000f76c>
[0, 1, 1, 3, 3]

In [106]:
integer.fill_nil_backward

#<RedAmber::Vector(:uint8, size=5):0x000000000000f780>
[0, 1, 3, 3, nil]

## 38. all?/any? (Vector)

`Vector#all?` returns true if all elements is true.

`Vector#any?` returns true if exists any true.

These are unary aggregation function.

In [107]:
booleans = Vector.new([true, true, nil])
booleans.all?

true

In [108]:
booleans.any?

true

If these methods are used with option `skip_nulls: false` nil is considered.

In [109]:
booleans.all?(skip_nulls: false)

false

In [110]:
booleans.any?(skip_nulls: false)

true

## 39. count/count_uniq (Vector)

`Vector#count` counts element.

`Vector#count_uniq` counts unique element. `#count_distinct` is an alias (Arrow's name).

These are unary aggregation function.

In [111]:
string = Vector.new(%w[A B A])
string.count

3

In [112]:
string.count_uniq # count_distinct is also OK

2

## 40. stddev/variance (Vector)

These are unary element-wise function.

In [113]:
integers = Vector.new([1, 2, 3, nil])
integers.stddev

0.816496580927726

In [114]:
# Unbiased standard deviation
integers.sd

1.0

In [115]:
integers.variance

0.6666666666666666

In [116]:
# Unbiased variance
integers.var

1.0

## 41. negate (Vector)

These are unary element-wise function.

In [117]:
double = Vector.new([1.0, -2, 3])
double.negate

#<RedAmber::Vector(:double, size=3):0x000000000000f794>
[-1.0, 2.0, -3.0]

In [118]:
# Same as #negate
-double

#<RedAmber::Vector(:double, size=3):0x000000000000f7a8>
[-1.0, 2.0, -3.0]

## 42. round (Vector)

Otions for `#round`;

- `:n-digits` The number of digits to show.
- `round_mode` Specify rounding mode.

This is a unary element-wise function.

In [119]:
double = RedAmber::Vector.new([15.15, 2.5, 3.5, -4.5, -5.5])

#<RedAmber::Vector(:double, size=5):0x000000000000f7bc>
[15.15, 2.5, 3.5, -4.5, -5.5]

In [120]:
double.round

#<RedAmber::Vector(:double, size=5):0x000000000000f7d0>
[15.0, 2.0, 4.0, -4.0, -6.0]

In [121]:
double.round(mode: :half_to_even)

#<RedAmber::Vector(:double, size=5):0x000000000000f7e4>
[15.0, 2.0, 4.0, -4.0, -6.0]

In [122]:
double.round(mode: :towards_infinity)

#<RedAmber::Vector(:double, size=5):0x000000000000f7f8>
[16.0, 3.0, 4.0, -5.0, -6.0]

In [123]:
double.round(mode: :half_up)

#<RedAmber::Vector(:double, size=5):0x000000000000f80c>
[15.0, 3.0, 4.0, -4.0, -5.0]

In [124]:
double.round(mode: :half_towards_zero)

#<RedAmber::Vector(:double, size=5):0x000000000000f820>
[15.0, 2.0, 3.0, -4.0, -5.0]

In [125]:
double.round(mode: :half_towards_infinity)

#<RedAmber::Vector(:double, size=5):0x000000000000f834>
[15.0, 3.0, 4.0, -5.0, -6.0]

In [126]:
double.round(mode: :half_to_odd)

#<RedAmber::Vector(:double, size=5):0x000000000000f848>
[15.0, 3.0, 3.0, -5.0, -5.0]

In [127]:
double.round(n_digits: 0)

#<RedAmber::Vector(:double, size=5):0x000000000000f85c>
[15.0, 2.0, 4.0, -4.0, -6.0]

In [128]:
double.round(n_digits: 1)

#<RedAmber::Vector(:double, size=5):0x000000000000f870>
[15.2, 2.5, 3.5, -4.5, -5.5]

In [129]:
double.round(n_digits: -1)

#<RedAmber::Vector(:double, size=5):0x000000000000f884>
[20.0, 0.0, 0.0, -0.0, -10.0]

## 43. and/or (Vector)

RedAmber select `and_kleene`/`or_kleene` as default `&`/`|` method.

These are unary element-wise function.

In [130]:
bool_self  = Vector.new([true, true, true, false, false, false, nil, nil, nil])
bool_other = Vector.new([true, false, nil, true, false, nil, true, false, nil])

bool_self & bool_other  # same as bool_self.and_kleene(bool_other)

#<RedAmber::Vector(:boolean, size=9):0x000000000000f898>
[true, false, nil, false, false, false, nil, false, nil]

In [131]:
# Ruby's primitive `&&`
bool_self && bool_other

#<RedAmber::Vector(:boolean, size=9):0x000000000000f8ac>
[true, false, nil, true, false, nil, true, false, nil]

In [132]:
# Arrow's default `and`
bool_self.and_org(bool_other)

#<RedAmber::Vector(:boolean, size=9):0x000000000000f8c0>
[true, false, nil, false, false, nil, nil, nil, nil]

In [133]:
bool_self | bool_other  # same as bool_self.or_kleene(bool_other)

#<RedAmber::Vector(:boolean, size=9):0x000000000000f8d4>
[true, true, true, true, false, nil, true, nil, nil]

In [134]:
# Ruby's primitive `||`
bool_self || bool_other

#<RedAmber::Vector(:boolean, size=9):0x000000000000f8e8>
[true, true, true, false, false, false, nil, nil, nil]

In [135]:
# Arrow's default `or`
bool_self.or_org(bool_other)

#<RedAmber::Vector(:boolean, size=9):0x000000000000f8fc>
[true, true, nil, true, false, nil, nil, nil, nil]

## 44. is_finite/is_nan/is_nil/is_na (Vector)

These are unary element-wise function.

In [136]:
double = Vector.new([Math::PI, Float::INFINITY, -Float::INFINITY, Float::NAN, nil])

#<RedAmber::Vector(:double, size=5):0x000000000000f910>
[3.141592653589793, Infinity, -Infinity, NaN, nil]

In [137]:
double.is_finite

#<RedAmber::Vector(:boolean, size=5):0x000000000000f924>
[true, false, false, false, nil]

In [138]:
double.is_inf

#<RedAmber::Vector(:boolean, size=5):0x000000000000f938>
[false, true, true, false, nil]

In [139]:
double.is_na

#<RedAmber::Vector(:boolean, size=5):0x000000000000f94c>
[false, false, false, true, true]

In [140]:
double.is_nil

#<RedAmber::Vector(:boolean, size=5):0x000000000000f960>
[false, false, false, false, true]

In [141]:
double.is_valid

#<RedAmber::Vector(:boolean, size=5):0x000000000000f974>
[true, true, true, true, false]

## 45. Prime-th rows

In [142]:
# prime-th rows ... Don't ask me what it means.
require 'prime'
penguins.assign_left(:index, Vector.new(penguins.indices) + 1) # since 0.2.0
        .slice { Vector.new(Prime.each(size).to_a) - 1 }

#<RedAmber::DataFrame : 68 x 9 Vectors, 0x000000000000f988>
      index species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
   <uint16> <string> <string>        <double>      <double>           <uint8> ... <uint16>
 1        2 Adelie   Torgersen           39.5          17.4               186 ...     2007
 2        3 Adelie   Torgersen           40.3          18.0               195 ...     2007
 3        5 Adelie   Torgersen           36.7          19.3               193 ...     2007
 4        7 Adelie   Torgersen           38.9          17.8               181 ...     2007
 5       11 Adelie   Torgersen           37.8          17.1               186 ...     2007
 :        : :        :                      :             :                 : ...        :
66      317 Gentoo   Biscoe              49.4          15.8               216 ...     2009
67      331 Gentoo   Biscoe              50.5          15.2               216 ...     2009
68      337 Gentoo   Biscoe              44.5          15.7               217 ...     2009

## 46. Slice by Enumerator

Slice accepts Enumerator as an option.

In [143]:
# Select every 10 samples
penguins.slice(0.step by: 10, to: 340)

#<RedAmber::DataFrame : 35 x 8 Vectors, 0x000000000000f99c>
   species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
   <string> <string>        <double>      <double>           <uint8> ... <uint16>
 1 Adelie   Torgersen           39.1          18.7               181 ...     2007
 2 Adelie   Torgersen           37.8          17.1               186 ...     2007
 3 Adelie   Biscoe              37.8          18.3               174 ...     2007
 4 Adelie   Dream               39.5          16.7               178 ...     2007
 5 Adelie   Dream               36.5          18.0               182 ...     2007
 : :        :                      :             :                 : ...        :
33 Gentoo   Biscoe              48.5          15.0               219 ...     2009
34 Gentoo   Biscoe              50.5          15.2               216 ...     2009
35 Gentoo   Biscoe              46.8          14.3               215 ...     2009

## 47. Output mode

Output mode of `#inspect` and `#to_iruby` is Table mode by default. If you prefer TDR mode set the environment variable `RED_AMBER_OUTPUT_MODE` to `"TDR"`.

In [144]:
ENV['RED_AMBER_OUTPUT_MODE'] = 'Table' # or nil (default)
penguins  # Almost same as `puts penguins.to_s` in any mode

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f2bc>
    species  island    bill_length_mm bill_depth_mm flipper_length_mm ...     year
    <string> <string>        <double>      <double>           <uint8> ... <uint16>
  1 Adelie   Torgersen           39.1          18.7               181 ...     2007
  2 Adelie   Torgersen           39.5          17.4               186 ...     2007
  3 Adelie   Torgersen           40.3          18.0               195 ...     2007
  4 Adelie   Torgersen          (nil)         (nil)             (nil) ...     2007
  5 Adelie   Torgersen           36.7          19.3               193 ...     2007
  : :        :                      :             :                 : ...        :
342 Gentoo   Biscoe              50.4          15.7               222 ...     2009
343 Gentoo   Biscoe              45.2          14.8               212 ...     2009
344 Gentoo   Biscoe              49.9          16.1               213 ...     2009

In [145]:
ENV['RED_AMBER_OUTPUT_MODE'] = 'TDR'
p penguins; nil # Almost same as `penguins.tdr` in any mode

#<RedAmber::DataFrame : 344 x 8 Vectors, 0x000000000000f2bc>
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 {"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}
2 :island            string     3 {"Torgersen"=>52, "Biscoe"=>168, "Dream"=>124}
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, nil, 36.7, ... ], 2 nils
 ... 5 more Vectors ...

In [146]:
penguins

RedAmber::DataFrame : 344 x 8 Vectors
Vectors : 5 numeric, 3 strings
# key                type   level data_preview
1 :species           string     3 {"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}
2 :island            string     3 {"Torgersen"=>52, "Biscoe"=>168, "Dream"=>124}
3 :bill_length_mm    double   165 [39.1, 39.5, 40.3, nil, 36.7, ... ], 2 nils
4 :bill_depth_mm     double    81 [18.7, 17.4, 18.0, nil, 19.3, ... ], 2 nils
5 :flipper_length_mm uint8     56 [181, 186, 195, nil, 193, ... ], 2 nils
6 :body_mass_g       uint16    95 [3750, 3800, 3250, nil, 3450, ... ], 2 nils
7 :sex               string     3 {"male"=>168, "female"=>165, nil=>11}
8 :year              uint16     3 {2007=>110, 2008=>114, 2009=>120}

In [147]:
ENV['RED_AMBER_OUTPUT_MODE'] = 'Table'

"Table"

## 48. Empty key

Empty key `:""` will be automatically renamed to `:unnamed1`.

If `:unnamed1` was used, `:unnamed1.succ` will be used.

(Since 0.1.8)

In [148]:
df = DataFrame.new("": [1, 2], unnamed1: [3, 4])

#<RedAmber::DataFrame : 2 x 2 Vectors, 0x000000000000f9b0>
  unnamed2 unnamed1
   <uint8>  <uint8>
1        1        3
2        2        4

## 49. Grouping

`DataFrame#group` takes group_key as an argument, and creates `Group` class. 

Group class inspects counts of each unique elements. 

(Since 0.1.7)

In [149]:
group = penguins.group(:species)

#<RedAmber::Group:0x000000000000f9c4
{:species=>{"Adelie"=>152, "Chinstrap"=>68, "Gentoo"=>124}}>

The instance of `Group` class has methods to summary functions.

It returns `function(key)` style summarized columns as a result.

In [150]:
group.count

#<RedAmber::DataFrame : 3 x 8 Vectors, 0x000000000000f9d8>
  species   count(island) count(bill_length_mm) count(bill_depth_mm) ... count(year)
  <string>        <int64>               <int64>              <int64> ...     <int64>
1 Adelie              152                   151                  151 ...         152
2 Chinstrap            68                    68                   68 ...          68
3 Gentoo              124                   123                  123 ...         124

If count result is same in multiple columns, count column is aggregated to one column `:count`.

In [151]:
penguins.pick(:species, :bill_length_mm, :bill_depth_mm).group(:species).count

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000f9ec>
  species     count
  <string>  <int64>
1 Adelie        151
2 Chinstrap      68
3 Gentoo        123

Grouping key comes first (leftmost) in the columns.

## 50. Grouping with a block

`DataFrame#group` takes a block and we can specify multiple functions.

Inside the block is the context of instance of Group. So we can use summary functions without the reciever.

(Since 0.1.8)

In [152]:
penguins.group(:species) { [count(:species), mean(:body_mass_g)] }

#<RedAmber::DataFrame : 3 x 3 Vectors, 0x000000000000fa00>
  species     count mean(body_mass_g)
  <string>  <int64>          <double>
1 Adelie        152           3700.66
2 Chinstrap      68           3733.09
3 Gentoo        124           5076.02

`Group#summarize` accepts same block as `DataFrame#group`.

In [153]:
group.summarize { [count(:species), mean] }

#<RedAmber::DataFrame : 3 x 7 Vectors, 0x000000000000fa14>
  species     count mean(bill_length_mm) mean(bill_depth_mm) ... mean(year)
  <string>  <int64>             <double>            <double> ...   <double>
1 Adelie        152                38.79               18.35 ...    2008.01
2 Chinstrap      68                48.83               18.42 ...    2007.97
3 Gentoo        124                 47.5               14.98 ...    2008.08

## 51. Vector#shift

`Vector#shift(amount = 1, fill: nil)`

Shift vector's values by specified `amount`. Shifted space is filled by value `fill`.

(Since 0.1.8)

In [154]:
vector = RedAmber::Vector.new([1, 2, 3, 4, 5])
vector.shift

#<RedAmber::Vector(:uint8, size=5):0x000000000000fa28>
[nil, 1, 2, 3, 4]

In [155]:
vector.shift(-2)

#<RedAmber::Vector(:uint8, size=5):0x000000000000fa3c>
[3, 4, 5, nil, nil]

In [156]:
vector.shift(fill: Float::NAN)

#<RedAmber::Vector(:double, size=5):0x000000000000fa50>
[NaN, 1.0, 2.0, 3.0, 4.0]

## 52. From the Pandas cookbook (if-then)

https://pandas.pydata.org/docs/user_guide/cookbook.html#if-then

```python
# by Python Pandas
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
df.loc[df.AAA >= 5, "BBB"] = -1

# returns =>
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50
```

In [157]:
# Red Amber
df = DataFrame.new(
  "AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]  # You can omit {}
)

df.assign(BBB: df[:BBB].replace(df[:AAA] >= 5, -1))

#<RedAmber::DataFrame : 4 x 3 Vectors, 0x000000000000fa64>
      AAA    BBB    CCC
  <uint8> <int8> <int8>
1       4     10    100
2       5     -1     50
3       6     -1    -30
4       7     -1    -50

If you want to replace both :BBB and :CCC ;

In [158]:
df.assign do
  replacer = v(:AAA) >= 5  # Boolean Vector
  {
    BBB: v(:BBB).replace(replacer, -1),
    CCC: v(:CCC).replace(replacer, -2)
  }
end

#<RedAmber::DataFrame : 4 x 3 Vectors, 0x000000000000fa78>
      AAA    BBB    CCC
  <uint8> <int8> <int8>
1       4     10    100
2       5     -1     -2
3       6     -1     -2
4       7     -1     -2

## 53. From the Pandas cookbook (Splitting)
Split a frame with a boolean criterion

https://pandas.pydata.org/docs/user_guide/cookbook.html#splitting

```python
# by Python Pandas
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
df[df.AAA <= 5]

# returns =>
   AAA  BBB  CCC
0    4   10  100
1    5   20   50

df[df.AAA > 5]

# returns =>
   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50
```

In [159]:
# Red Amber
df = DataFrame.new(
  # You can omit {}
  "AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]
)

df.slice(df[:AAA] <= 5)
# df[df[:AAA] <= 5] # is also OK

#<RedAmber::DataFrame : 2 x 3 Vectors, 0x000000000000fa8c>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       4      10    100
2       5      20     50

In [160]:
df.remove(df[:AAA] <= 5)
# df.slice(df[:AAA] > 5) # do the same thing

#<RedAmber::DataFrame : 2 x 3 Vectors, 0x000000000000faa0>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       6      30    -30
2       7      40    -50

## 54. From the Pandas cookbook (Building criteria)
Split a frame with a boolean criterion

https://pandas.pydata.org/docs/user_guide/cookbook.html#building-criteria

```python
# by Python Pandas
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)

# and
df.loc[(df["BBB"] < 25) & (df["CCC"] >= -40), "AAA"]

# returns a series =>
0    4
1    5
Name: AAA, dtype: int64

# or
df.loc[(df["BBB"] > 25) | (df["CCC"] >= -40), "AAA"]

# returns a series =>
0    4
1    5
2    6
3    7
Name: AAA, dtype: int64
```

In [161]:
# Red Amber
df = DataFrame.new(
  # You can omit {}
  "AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]
)

df.slice( (df[:BBB] < 25) & (df[:CCC] >= 40) ).pick(:AAA)

#<RedAmber::DataFrame : 2 x 1 Vector, 0x000000000000fab4>
      AAA
  <uint8>
1       4
2       5

In [162]:
df.slice( (df[:BBB] > 25) | (df[:CCC] >= 40) ).pick(:AAA)
# df[ (df[:BBB] > 25) | (df[:CCC] >= 40) ][:AAA)] # also OK

#<RedAmber::DataFrame : 4 x 1 Vector, 0x000000000000fac8>
      AAA
  <uint8>
1       4
2       5
3       6
4       7

```python
# by Python Pandas
# or (with assignment)
df.loc[(df["BBB"] > 25) | (df["CCC"] >= 75), "AAA"] = 0.1
df

# returns a dataframe =>
   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50
```

In [163]:
# df.assign(AAA: df[:AAA].replace((df[:BBB] > 25) | (df[:CCC] >= 75), 0.1)) # by one liner

booleans = (df[:BBB] > 25) | (df[:CCC] >= 75)
replaced = df[:AAA].replace(booleans, 0.1)
df.assign(AAA: replaced)

#<RedAmber::DataFrame : 4 x 3 Vectors, 0x000000000000fadc>
       AAA     BBB    CCC
  <double> <uint8> <int8>
1      0.1      10    100
2      5.0      20     50
3      0.1      30    -30
4      0.1      40    -50

```python
# by Python Pandas
# Select rows with data closest to certain value using argsort
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
aValue = 43.0
df.loc[(df.CCC - aValue).abs().argsort()]

# returns a dataframe =>
   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50
```

In [164]:
a_value = 43
df[(df[:CCC] - a_value).abs.sort_indexes]
# df.slice (df[:CCC] - a_value).abs.sort_indexes # also OK

#<RedAmber::DataFrame : 4 x 3 Vectors, 0x000000000000faf0>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       5      20     50
2       4      10    100
3       6      30    -30
4       7      40    -50

```python
# by Python Pandas
# Dynamically reduce a list of criteria using a binary operators
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0
Crit3 = df.CCC > -40.0
AllCrit = Crit1 & Crit2 & Crit3

import functools

CritList = [Crit1, Crit2, Crit3]
AllCrit = functools.reduce(lambda x, y: x & y, CritList)
df[AllCrit]

# returns a dataframe =>
   AAA  BBB  CCC
0    4   10  100
```

In [165]:
crit1 = df[:AAA] <= 5.5
crit2 = df[:BBB] == 10.0
crit3 = df[:CCC] >= -40.0
df[crit1 & crit2 & crit3]

#<RedAmber::DataFrame : 1 x 3 Vectors, 0x000000000000fb04>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       4      10    100

## 55. From the Pandas cookbook (Dataframes)

https://pandas.pydata.org/docs/user_guide/cookbook.html#dataframes

```python
# by Python Pandas
# Using both row labels and value conditionals
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
)
df[(df.AAA <= 6) & (df.index.isin([0, 2, 4]))] 

# returns =>
   AAA  BBB  CCC
0    4   10  100
2    6   30  -30
```

In [166]:
# Red Amber
df = DataFrame.new(
  "AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]
)

df[(df[:AAA] <= 6) & df.indices.map { |i| [0, 2, 4].include? i }]

#<RedAmber::DataFrame : 2 x 3 Vectors, 0x000000000000fb18>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       4      10    100
2       6      30    -30

```python
# by Python Pandas
# Use loc for label-oriented slicing and iloc positional slicing GH2904
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]},
    index=["foo", "bar", "boo", "kar"],
)

# There are 2 explicit slicing methods, with a third general case
# 1. Positional-oriented (Python slicing style : exclusive of end)
# 2. Label-oriented (Non-Python slicing style : inclusive of end)
# 3. General (Either slicing style : depends on if the slice contains labels or positions)

df.loc["bar":"kar"]  # Label
# returns =>
     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

# Generic
df[0:3]
# returns =>
     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

df["bar":"kar"]
# returns =>
     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50
```

In [167]:
# Red Amber does not have row index. Use a new column as indexes.
labeled = df.assign_left(index: %w[foo bar boo kar])
# labeled = df.assign(index: %w[foo bar boo kar]).pick { [keys[-1], keys[0...-1]] } # until v0.1.8

#<RedAmber::DataFrame : 4 x 4 Vectors, 0x000000000000fb2c>
  index        AAA     BBB    CCC
  <string> <uint8> <uint8> <int8>
1 foo            4      10    100
2 bar            5      20     50
3 boo            6      30    -30
4 kar            7      40    -50

In [168]:
labeled[1..3]

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000fb40>
  index        AAA     BBB    CCC
  <string> <uint8> <uint8> <int8>
1 bar            5      20     50
2 boo            6      30    -30
3 kar            7      40    -50

In [169]:
labeled.slice do
  v = v(:index)
  v.index("bar")..v.index("kar")
end

#<RedAmber::DataFrame : 3 x 4 Vectors, 0x000000000000fb54>
  index        AAA     BBB    CCC
  <string> <uint8> <uint8> <int8>
1 bar            5      20     50
2 boo            6      30    -30
3 kar            7      40    -50

```python
# by Python Pandas
# Ambiguity arises when an index consists of integers with a non-zero start or non-unit increment.
df2 = pd.DataFrame(data=data, index=[1, 2, 3, 4])  # Note index starts at 1.

df2.iloc[1:3]  # Position-oriented
# returns =>
   AAA  BBB  CCC
2    5   20   50
3    6   30  -30

df2.loc[1:3]  # Label-oriented
# returns =>
   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30
```

In [170]:
# RedAmber only have an implicit integer index 0...size,
# does not happen any ambiguity unless you create a new column and use it for indexes :-).

```python
# by Python Pandas
# Using inverse operator (~) to take the complement of a mask
df[~((df.AAA <= 6) & (df.index.isin([0, 2, 4])))]

# returns =>
   AAA  BBB  CCC
1    5   20   50
3    7   40  -50
```

In [171]:
# RedAmber offers #! method for boolean Vector.
df[!((df[:AAA] <= 6) & df.indices.map { |i| [0, 2, 4].include? i })]

# or
# df[((df[:AAA] <= 6) & df.indices.map { |i| [0, 2, 4].include? i }).invert]

#<RedAmber::DataFrame : 2 x 3 Vectors, 0x000000000000fb68>
      AAA     BBB    CCC
  <uint8> <uint8> <int8>
1       5      20     50
2       7      40    -50

If you have `nil` in your data, consider #primitive_invert for consistent result. See example #26.

## 56. From the Pandas cookbook (New columns)

https://pandas.pydata.org/docs/user_guide/cookbook.html#new-columns

```python
# by Python Pandas
# Efficiently and dynamically creating new columns using applymap
df = pd.DataFrame({"AAA": [1, 2, 1, 3], "BBB": [1, 1, 2, 2], "CCC": [2, 1, 3, 1]})
df

# returns =>
   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

source_cols = df.columns  # Or some subset would work too
new_cols = [str(x) + "_cat" for x in source_cols]
categories = {1: "Alpha", 2: "Beta", 3: "Charlie"}
df[new_cols] = df[source_cols].applymap(categories.get)
df

# returns =>
   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha
```

In [172]:
# RedAmber
df = DataFrame.new({"AAA": [1, 2, 1, 3], "BBB": [1, 1, 2, 2], "CCC": [2, 1, 3, 1]})

#<RedAmber::DataFrame : 4 x 3 Vectors, 0x000000000000fb7c>
      AAA     BBB     CCC
  <uint8> <uint8> <uint8>
1       1       1       2
2       2       1       1
3       1       2       3
4       3       2       1

In [173]:
categories = {1 => "Alpha", 2 => "Beta", 3 => "Charlie"}

# Creating a Hash from keys
df.assign do
  keys.each_with_object({}) do |key, h|
    h["#{key}_cat"] = v(key).to_a.map { |x| categories[x] }
  end
end

# Creating an Array from vectors, from v0.2.0
df.assign do
  vectors.map do |v|
    ["#{v.key}_cat", v.to_a.map { |x| categories[x] } ]
  end
end

#<RedAmber::DataFrame : 4 x 6 Vectors, 0x000000000000fb90>
      AAA     BBB     CCC AAA_cat  BBB_cat  CCC_cat
  <uint8> <uint8> <uint8> <string> <string> <string>
1       1       1       2 Alpha    Alpha    Beta
2       2       1       1 Beta     Alpha    Alpha
3       1       2       3 Alpha    Beta     Charlie
4       3       2       1 Charlie  Beta     Alpha

```python
# by Python Pandas
# Keep other columns when using min() with groupby
df = pd.DataFrame(
    {"AAA": [1, 1, 1, 2, 2, 2, 3, 3], "BBB": [2, 1, 3, 4, 5, 1, 2, 3]}
)
df

# returns =>
   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

# Method 1 : idxmin() to get the index of the minimums
df.loc[df.groupby("AAA")["BBB"].idxmin()]

# returns =>
   AAA  BBB
1    1    1
5    2    1
6    3    2

# Method 2 : sort then take first of each
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

# returns =>
   AAA  BBB
0    1    1
1    2    1
2    3    2

# Notice the same results, with the exception of the index.
```

In [174]:
# RedAmber
df = DataFrame.new(AAA: [1, 1, 1, 2, 2, 2, 3, 3], BBB: [2, 1, 3, 4, 5, 1, 2, 3])

#<RedAmber::DataFrame : 8 x 2 Vectors, 0x000000000000fba4>
      AAA     BBB
  <uint8> <uint8>
1       1       2
2       1       1
3       1       3
4       2       4
5       2       5
:       :       :
7       3       2
8       3       3

In [175]:
df.group(:AAA).min

# Add `.rename { [keys[-1], :BBB] }` if you want.

#<RedAmber::DataFrame : 3 x 2 Vectors, 0x000000000000fbb8>
      AAA min(BBB)
  <uint8>  <uint8>
1       1        1
2       2        1
3       3        2

## 57. Summary/describe

In [176]:
penguins.summary
# or
penguins.describe

#<RedAmber::DataFrame : 5 x 9 Vectors, 0x000000000000fbcc>
  variables            count     mean      std      min      25%   median ...      max
  <dictionary>      <uint16> <double> <double> <double> <double> <double> ... <double>
1 bill_length_mm         342    43.92     5.46     32.1    39.23    44.38 ...     59.6
2 bill_depth_mm          342    17.15     1.97     13.1     15.6    17.32 ...     21.5
3 flipper_length_mm      342   200.92    14.06    172.0    190.0    197.0 ...    231.0
4 body_mass_g            342  4201.75   801.95   2700.0   3550.0   4031.5 ...   6300.0
5 year                   344  2008.03     0.82   2007.0   2007.0   2008.0 ...   2009.0

## 58. Quantile

`Vector#quantile(prob)` returns quantile at probability `prob`.

(Since 0.2.0)

In [177]:
penguins[:bill_depth_mm].quantile # default value is prob = 0.5

17.3

`Vector#quantiles` accepts an Array for multiple quantiles. Returns a DataFrame.

In [178]:
penguins[:bill_depth_mm].quantiles([0.05, 0.95])

#<RedAmber::DataFrame : 2 x 2 Vectors, 0x000000000000fbe0>
     probs quantiles
  <double>  <double>
1     0.05      13.9
2     0.95      20.0

## 59. Transpose

`DataFrame#transpose` creates transposed DataFrame for wide type dataframe.

(Since 0.2.0)

In [179]:
import_cars = RedAmber::DataFrame.load('../test/entity/import_cars.tsv')

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fbf4>
     Year    Audi     BMW BMW_MINI Mercedes-Benz      VW
  <int64> <int64> <int64>  <int64>       <int64> <int64>
1    2021   22535   35905    18211         51722   35215
2    2020   22304   35712    20196         57041   36576
3    2019   24222   46814    23813         66553   46794
4    2018   26473   50982    25984         67554   51961
5    2017   28336   52527    25427         68221   49040

In [180]:
import_cars.transpose

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fc08>
  name              2021     2020     2019     2018     2017
  <dictionary>  <uint16> <uint16> <uint32> <uint32> <uint32>
1 Audi             22535    22304    24222    26473    28336
2 BMW              35905    35712    46814    50982    52527
3 BMW_MINI         18211    20196    23813    25984    25427
4 Mercedes-Benz    51722    57041    66553    67554    68221
5 VW               35215    36576    46794    51961    49040

You can specify index column by option `:key` even if it is at the middle of the original DataFrame.

In [181]:
df = import_cars.pick { [keys[1..2], keys[0], keys[3..]] }

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fc1c>
     Audi     BMW    Year BMW_MINI Mercedes-Benz      VW
  <int64> <int64> <int64>  <int64>       <int64> <int64>
1   22535   35905    2021    18211         51722   35215
2   22304   35712    2020    20196         57041   36576
3   24222   46814    2019    23813         66553   46794
4   26473   50982    2018    25984         67554   51961
5   28336   52527    2017    25427         68221   49040

In [182]:
df.transpose(key: :Year)

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fc30>
  name              2021     2020     2019     2018     2017
  <dictionary>  <uint16> <uint16> <uint32> <uint32> <uint32>
1 Audi             22535    22304    24222    26473    28336
2 BMW              35905    35712    46814    50982    52527
3 BMW_MINI         18211    20196    23813    25984    25427
4 Mercedes-Benz    51722    57041    66553    67554    68221
5 VW               35215    36576    46794    51961    49040

## 60. To_long

`DataFrame#to_long(*keep_keys)` reshapes wide DataFrame to a longer DataFrame.

- Parameter `keep_keys` specifies the key names to keep.

(Since 0.2.0)

In [183]:
import_cars = RedAmber::DataFrame.load('../test/entity/import_cars.tsv')

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fc44>
     Year    Audi     BMW BMW_MINI Mercedes-Benz      VW
  <int64> <int64> <int64>  <int64>       <int64> <int64>
1    2021   22535   35905    18211         51722   35215
2    2020   22304   35712    20196         57041   36576
3    2019   24222   46814    23813         66553   46794
4    2018   26473   50982    25984         67554   51961
5    2017   28336   52527    25427         68221   49040

In [184]:
import_cars.to_long(:Year)

#<RedAmber::DataFrame : 25 x 3 Vectors, 0x000000000000fc58>
       Year name             value
   <uint16> <dictionary>  <uint32>
 1     2021 Audi             22535
 2     2021 BMW              35905
 3     2021 BMW_MINI         18211
 4     2021 Mercedes-Benz    51722
 5     2021 VW               35215
 :        : :                    :
23     2017 BMW_MINI         25427
24     2017 Mercedes-Benz    68221
25     2017 VW               49040

- Option `:name` : key of the column which is come **from key names**.
- Option `:value` : key of the column which is come **from values**.

In [185]:
import_cars.to_long(:Year, name: :Manufacturer, value: :Num_of_imported)

#<RedAmber::DataFrame : 25 x 3 Vectors, 0x000000000000fc6c>
       Year Manufacturer  Num_of_imported
   <uint16> <dictionary>         <uint32>
 1     2021 Audi                    22535
 2     2021 BMW                     35905
 3     2021 BMW_MINI                18211
 4     2021 Mercedes-Benz           51722
 5     2021 VW                      35215
 :        : :                           :
23     2017 BMW_MINI                25427
24     2017 Mercedes-Benz           68221
25     2017 VW                      49040

## 61. To_wide

`DataFrame#to_wide(*keep_keys)` reshapes long DataFrame to a wider DataFrame.

- Option `:name` : key of the column which will be expanded **to key name**.
- Option `:value` : key of the column which will be expanded **to values**.

(Since 0.2.0)

In [186]:
import_cars.to_long(:Year).to_wide

#<RedAmber::DataFrame : 5 x 6 Vectors, 0x000000000000fc80>
      Year     Audi      BMW BMW_MINI Mercedes-Benz       VW
  <uint16> <uint16> <uint16> <uint16>      <uint32> <uint16>
1     2021    22535    35905    18211         51722    35215
2     2020    22304    35712    20196         57041    36576
3     2019    24222    46814    23813         66553    46794
4     2018    26473    50982    25984         67554    51961
5     2017    28336    52527    25427         68221    49040

In [187]:
# import_cars.to_long(:Year).to_wide(name: :name, value: :value)
# is also OK